# editer
.vscode

# MacOs
.DS_Store

# airflow configs
airflow.cfg
airflow.db
*.pid

# data files
/data

# logs and outputs
logs
wandb
outputs

# environment
*.env

# Byte-compiled / optimized / DLL files
__pycache__
.cache